//* Base
//* ==================================================
@import './base/variables.scss';
@import './base/normalize.scss';
@import './base/mixins.scss';
@import './base/utilities.scss';
@import './base/globals.scss';

//* Layout
//* ==================================================
@import './layout/scrollbar.scss';
@import './layout/home/header.scss';
@import './layout/home/categories.scss';
@import './layout/home/products.scss';
@import './layout/searchInput.scss';
@import './layout/navbarMobile.scss';
@import './layout/forms/form.scss';
@import './layout/forms/socialMediaButtons.scss';
@import './layout/landingPage/landingPage.scss';
@import './layout/spinner.scss';
@import './layout/userConfig/userConfig.scss';