//* Base
//* ==================================================
@import './base/variables.scss';
@import './base/normalize.scss';
@import './base/mixins.scss';
@import './base/utilities.scss';
@import './base/globals.scss';

//* Layout
//* ==================================================
@import './layout/home/header.scss';
@import './layout/home/categories.scss';
@import './layout/home/products.scss';
@import './layout/searchInput.scss';
@import './layout/navbarMobile.scss';