.navbar-mobile-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: $white;
    @include box-shadow;
    .navbar-icon{
        font-size: 3.25rem;
        color: $gray;
    }
    .profile-navbar-container{
        padding: 1px;
        border: 2px solid $greenPrimary;
        border-radius: 50%;
        position: relative;
        div{
            position: relative;
            height: 3.25rem;
            width: 3.25rem;
            overflow: hidden;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            
        }
    }
    .navbar-mobile-menu{
        position: absolute;
        bottom: 9.5rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        right: 2rem;
        width: fit-content;
        height: fit-content;
        padding: 2rem;
        @include box-shadow;
        background-color: $white;
        .logout-button{
            @include danger-btn;
        }
    }
}