.search-input-container{
    width: 100%;
    position: relative;
    .search-input{
        padding: 2rem;
        border-radius: 3.5rem;
        -webkit-border-radius: 3.5rem;
        -moz-border-radius: 3.5rem;
        -ms-border-radius: 3.5rem;
        -o-border-radius: 3.5rem;
        border: none;
        width: 100%;
        @include box-shadow;
        font-size: 1.5rem;
    }
    .search-input-icon{
        position: absolute;
        right: 2rem;
        top: 50%;
        font-size: 2.4rem;
        color: $gray;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}