.products-home-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 3rem;
    padding-bottom: 7.85rem;
}
.product-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    .product-image-container{
        position: relative;
        min-width: 100%;
        height: 20rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        overflow: hidden;
    }
    .product-card-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        div{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        .product-card-icon{
            font-size: 2.25rem;
        }
    }
}