.container{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
.main{
    width: 100%;
    padding: 0 2rem;
}
@include mobile {
    .main{
        position: absolute;
        top: 21rem;
    }
}
.active-navbar-icon{
    color: $greenPrimary !important;
}
.inactive{
    display: none;
}